{% extends 'base.html' %}
{% block title %}Add Post{% endblock  %}
{% block content %}

    {% load static %}
      
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><strong>HARRIBLOG</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_post' %}">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            {% if category_menu %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Blog Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% for item in category_menu  %}
                    <li><a class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a></li>
                    {% endfor %}
                    
                </ul>
            </li> 
            {% endif %} 
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
        </ul>
        <form class="d-flex" method=POST action="{% url 'search-article' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Looking for something" aria-label="Search" name="searched">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form> 
        </div>                       
    </div>
    </nav>


    {% if user.is_authenticated  %}

        <div class="container">
             <h1>Make a blog post....</h1>
             <br/><br/>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-outline-secondary">post</button>
                    
            </div>
        </div>
        <script>
            alert("remember content that doesnt follow the terms and condition will be deleted")
            var name = "{{ user.username}}";
            document.getElementById("harrified").value= name;
        </script>


    {% else %}
         HttpsError 403 forbidden.....
    {% endif %}
    

{% endblock  %}